<!doctype html>
<html>
<head>
  <title>Register | Make4You</title>


</head>
<body>
<h1> <%= username %></h1>
<h1> <%= password %></h1>
<h1> <%= first_name %></h1>
<h1> <%= last_name %></h1>

</body>


</html>
