<!doctype html>
<html>
  <head>
    <title>Register | Make4You</title>


  </head>
    <body>
      <form method="POST" action="">
        Username
        <br>
        <input type="text" name="username">
        <br>
        Password
        <br>
        <input type="password" name="password">
        <br>
        First Name
        <br>
        <input type="text" name="first_name">
        <br>
        Last Name
        <br>
        <input type="text" name="last_name">
        <br>
        <input type="submit" value="submit">
      </form>




    </body>


</html>
