<!DOCTYPE html>
<html>
	<head>
	<title> MY JOB | Make4You</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	</head>
	
	
	<body>

	<h1 class="">Job </h1>

<table class="table table-striped" style="padding-left: 10px">
		<thead>
			<tr>
				<th>Furnitures</th>
				<th>Width of floor</th>
				<th>Height of floor</th>
				<th>Total price</th>	
			</tr>
		</thead>
		<tbody>
				<% for(var i=0; i<jobs.length; i++ ){ %>
				<tr>
					<td> <%= jobs[i].name%> </td>
					<td> <%= jobs[i].width %> </td>
					<td> <%= jobs[i].height %> </td>
					<td> <%= jobs[i].price %> </td>
				</tr>
	<% } %>
	
	
	</body>
</html>